{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block script_start_page %}
 <!-- Leaflet -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}

{% block title %} STŘELBA NA HOLUBY | MAPA {% endblock %}

{% block main %}
    <p class="pt-2 px-2 mb-0 text-secondary" style="text-align: justify;">
        V mnoha městech ještě stále přetrvává zvyk střílet holuby 
        vzduchovkou. Tato nelegální "zábava" představuje vážný problém jak pro 
        bezpečnost ptactva, tak i pro bezpečnost lidí. Proto jsme se 
        rozhodli začít incidenty monitorovat. Abychom identifikovali 
        nejnebezpečnější lokality a zároveň ukázali, jak často k útokům dochází.
    </p>
    
    <!-- MAPA -->
    <div class="row d-flex justify-content-center px-3 my-2">
        <div id="map" style="height: 400px;" ></div>
    </div>
    <div class="row text-center mb-3 text-secondary">
        <p class="mb-0">Víte o nějakém útoku, který v databázi chybí? Využijte prosím náš
            <a href="https://www.holubivnouzi.cz/kontakt/" target="_blank">kontaktní formulář</a>
            .
        </p>
    </div>
    
    <!-- převedení dat do JSON -->
    {{ data|json_script:"data_json" }}

    <!-- Celková data -->
    <div class="p-4 my-border mb-4">
        <div class="col fs-4 mt-2 mb-3 text-center">
            <b>CELKOVÁ DATA</b>
        </div>
    
        <div class="row">
            <div class="col-12 col-md-4 mb-3">
                <div class="bg-light p-4 text-center rounded">
                    <h5>Hlášených útoků:</h5>
                    <div class="display-4">{{ holubi_count }}</div>
                    <small>počet nám nahlášených útoků</small>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="bg-light p-4 text-center rounded">
                    <h5>Potvrzená střelba:</h5>
                    <div class="display-4">{{ potvrzene_streby_procenta }} %</div>
                    <small>celkový počet: {{ potvrzene_streby_count }}</small>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="bg-light p-4 text-center rounded">
                    <h5>Přeživší holoubci:</h5>
                    <div class="display-4">{{ prezivsi_procenta }} %</div>
                    <small>celkový počet: {{ prezivsi_count }}</small>
                </div>
            </div>
        </div>
    </div>

    <!-- FAQ -->
    <div class="my-border p-4 mb-5" id="faq">
        <div class="row text-center ">
            <div class="col fs-4 mt-2 mb-3">
                <b>ČASTO KLADENÉ OTÁZKY</b>
            </div>
        </div>

        <div class="row">
            <div class="fw-bolder py-2 px-4 my-row-link" 
            data-bs-toggle="collapse" href="#collapseVzduchovka" role="button" 
            aria-expanded="false" aria-controls="collapseVzduchovka">
                <i class="bi bi-arrow-90deg-down" style="font-size: 15px;"></i>
                &nbsp;&nbsp;Je střelba ze vzduchovky v obci legální?
            </div>
        </div>
        <div class="collapse" id="collapseVzduchovka">
            <div class="card-body">
                <b>Jednoznačně není.</b> Jde o jasné porušení zákona (konkrétně § 15 odst. 3 
                zákona č. 119/2002 Sb.), které by v lepším případě bylo hodnoceno jako 
                přestupkové jednání, ale s větší pravděpodobností jako trestný čin, kdy 
                pachateli <b>hrozí odnětí svobody až na dva roky.</b>
            </div>
        </div>
        
        <hr>
        
        <div class="row">
            <div class="fw-bolder py-2 px-4 my-row-link" 
            data-bs-toggle="collapse" href="#collapseLoveckyListek" role="button" 
            aria-expanded="false" aria-controls="collapseLoveckyListek">
                <i class="bi bi-arrow-90deg-down" style="font-size: 15px;"></i>
                &nbsp;&nbsp;Opravňuje člověka ke střelbě na holuby v obci lovecký lístek?
            </div>
        </div>
        <div class="collapse" id="collapseLoveckyListek">
            <div class="card-body">
                Ne. Lovecký lístek opravňuje k lovení pouze na honebním pozemku. 
                Podle § 2, zákona č. 449/2001 Sb. se jakékoliv pozemky uvnitř hranice 
                současně zastavěného území obce, jako náměstí, návsi, tržiště, ulice, 
                nádvoří, cesty, hřiště a parky nedají považovat za honební pozemky. 
                <b>Ublížení zvířeti v obci by proto i tak bylo posuzováno podle 
                § 5 odst. 1 zákona č.246/1992 Sb., na ochranu zvířat proti týrání.</b>
            </div>
        </div>
        
        <hr>
        
        <div class="row">
            <div class="fw-bolder py-2 px-4 my-row-link" 
            data-bs-toggle="collapse" href="#collapseUblizeni" role="button" 
            aria-expanded="false" aria-controls="collapseUblizeni">
                <i class="bi bi-arrow-90deg-down" style="font-size: 15px;"></i>
                &nbsp;&nbsp;Jsou život a zdraví holubů chráněné zákonem?
            </div>
        </div>
        <div class="collapse" id="collapseUblizeni">
            <div class="card-body">
                Ano. Ublížení holubovi (či jinému zvířeti) nebo jeho usmrcení je povoleno 
                jen za výjimečných podmínek (například při útoku zvířete) nebo s příslušným 
                povolením. V ostatních případech je takový čin posuzován s ohledem na jeho 
                povahu <b>buď jako přestupek, podle § 27 zákona č. 246/1992 Sb., kde hrozí 
                pokuta až 1 000 000 Kč, nebo jako trestný čin, podle § 302 zákona č. 40/2009 Sb., 
                kde hrozí odnětí svobody až na 5 let.</b>
            </div>
        </div>
        
        <hr>

        <div class="row">
            <div class="fw-bolder py-2 px-4 my-row-link" 
            data-bs-toggle="collapse" href="#collapseHolubniky" role="button" 
            aria-expanded="false" aria-controls="collapseHolubniky">
                <i class="bi bi-arrow-90deg-down" style="font-size: 15px;"></i>
                &nbsp;&nbsp;Lze bránit přemnožení holubů eticky?
            </div>
        </div>
        <div class="collapse" id="collapseHolubniky">
            <div class="card-body">
                Ano. Na rozdíl od odstřelu nebo obzvlášť krutého zplynování existuje etický a 
                skvěle funkční způsob - obecní holubníky. V místě, kde je takový holubník se do 
                něj holubi stáhnout a kladou tam svá vejce, ty jsou pak vyměňovány za atrapy. 
                Holubi v takovém holubníku navíc tráví 80 % svého času, takže se sníží znečištění 
                dané lokality trusem. Více informací 
                <a href="https://www.obecniholubnik.cz/" target="_blank">zde</a>.
            </div>
        </div>
        
        <hr>
        
        <div class="row">
            <div class="fw-bolder py-2 px-4 my-row-link" 
            data-bs-toggle="collapse" href="#collapseNemoci" role="button" 
            aria-expanded="false" aria-controls="collapseNemoci">
                <i class="bi bi-arrow-90deg-down" style="font-size: 15px;"></i>
                &nbsp;&nbsp;Skutečně jsou holubi tolik nebezpeční pro naše zdraví?
            </div>
        </div>
        <div class="collapse" id="collapseNemoci">
            <div class="card-body">
                Holubi, stejně jako všechna volně žijící zvířata, trpí na různé nemoci 
                i parazity. Je ale podstatné upřesnit, že absolutní většina z nich není přenosná 
                na člověka. <a href="https://pubmed.ncbi.nlm.nih.gov/15066331/" target="_blank">
                Tato studie</a> dokonce odhalila, že <b>ze všech nemocí, kterými mohou holubi trpět, 
                je jich na člověka přenosných pouze sedm.</b> (Rozpis nejčastěji zmiňovaných nemocí 
                a parazitů a pravděpodobnost jejich přenosu na člověka si můžete prohlédnout 
                <a href="https://www.erna-graff-stiftung.de/tauben/krankheiten/" 
                target="_blank">zde</a>.)
                <br><br>
                Zkušenosti lidí pečující o volně žijící holuby pak ukázaly, že <b>takovýto přenos 
                je výjimečný. A to i v případě, jsou-li lidé s holuby v každodenním bezprostředním 
                kontaktu.</b> To potvrzuje i výše uvedená studie. Zjistila totiž, že k nákaze 
                nedochází ani tak při kontaktu s holuby, jako spíš při kontaktu s velkými nánosy 
                holubího trusu (typickým příkladem jsou půdy, kde se trus neodklízel i několik 
                let). V takovém případě je určitě na místě používat ochranné pomůcky (respirátor, 
                rukavice…).
            </div>
        </div>
    </div>
    
{% endblock %}

{% block script_end_page %}
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" 
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" 
    crossorigin=""></script>

    <script src="{% static 'holubi_app/js/map_for_app.js' %}"></script>
{% endblock %}
