{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block script_start_page %}
 <!-- Leaflet -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
{% endblock %}

{% block title %} ÚTOKY NA HOLUBY | MAPA {% endblock %}

{% block main %}
    <!-- <div class="row mt-3 mb-3">
        <h1 class="fw-light text-center mt-3 mb-3">ZAZNAMENANÉ INCIDENTY STŘELBY NA HOLUBY</h1>
    </div> -->

    <div class="row d-flex justify-content-between mb-4">
        <div class="col-auto d-flex p-0">
            <h1 class="fw-light d-flex align-items-center m-0">ZAZNAMENANÉ INCIDENTY STŘELBY NA HOLUBY</h1>
        </div>
    
        <div class="col d-flex justify-content-start justify-content-sm-end p-2">
            <a class="btn btn-secondary d-flex align-items-center px-4 m-0" href="{% url 'holuby-list' %}">SEZNAM&nbsp;VŠECH&nbsp;ÚTOKŮ</a>
        </div>
    </div>
    
    <!-- MAPA -->
    <div class="row d-flex justify-content-center ">
        <div id="map" style="height: 600px;" ></div>
    </div>

    <!-- převedení dat do JSON -->
    {{ data|json_script:"data_json" }}

    <!-- FAQ -->
    <div class="row text-center ">
        <div class="col fs-3 mt-5 mb-3">
            ČASTO KLADENÉ OTÁZKY
        </div>
    </div>

    <div class="row">
        <div class="fw-bolder fs-5 py-2 px-4 my-row-link" data-bs-toggle="collapse" href="#collapseVzduchovka" role="button" 
        aria-expanded="false" aria-controls="collapseVzduchovka">
            <i class="bi bi-arrow-90deg-down" style="font-size: 15px;"></i>&nbsp;&nbsp;Je střelba vzduchovkou v obci legální?
        </div>
    </div>
    <div class="collapse" id="collapseVzduchovka">
        <div class="card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="fw-bolder fs-5 py-2 px-4 my-row-link" data-bs-toggle="collapse" href="#collapseLoveckyListek" role="button" 
        aria-expanded="false" aria-controls="collapseLoveckyListek">
            <i class="bi bi-arrow-90deg-down" style="font-size: 15px;"></i>&nbsp;&nbsp;Lovecký lístek
        </div>
    </div>
    <div class="collapse" id="collapseLoveckyListek">
        <div class="card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="fw-bolder fs-5 py-2 px-4 my-row-link" data-bs-toggle="collapse" href="#collapseUblizeni" role="button" 
        aria-expanded="false" aria-controls="collapseUblizeni">
            <i class="bi bi-arrow-90deg-down" style="font-size: 15px;"></i>&nbsp;&nbsp;Je legální ublížit holubovi?
        </div>
    </div>
    <div class="collapse" id="collapseUblizeni">
        <div class="card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="fw-bolder fs-5 py-2 px-4 my-row-link" data-bs-toggle="collapse" href="#collapseNemoci" role="button" 
        aria-expanded="false" aria-controls="collapseNemoci">
            <i class="bi bi-arrow-90deg-down" style="font-size: 15px;"></i>&nbsp;&nbsp;Jsou holubi zdraví nebezpeční?
        </div>
    </div>
    <div class="collapse" id="collapseNemoci">
        <div class="card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="fw-bolder fs-5 py-2 px-4 my-row-link" data-bs-toggle="collapse" href="#collapseHolubniky" role="button" 
        aria-expanded="false" aria-controls="collapseHolubniky">
            <i class="bi bi-arrow-90deg-down" style="font-size: 15px;"></i>&nbsp;&nbsp;Jak je to s regulací holubů?
        </div>
    </div>
    <div class="collapse" id="collapseHolubniky">
        <div class="card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
    </div>
    
    <hr>
    
    <div class="row">
        <div class="fw-bolder fs-5 py-2 px-4 my-row-link" data-bs-toggle="collapse" href="#collapseKlistaky" role="button" 
        aria-expanded="false" aria-controls="collapseKlistaky">
            <i class="bi bi-arrow-90deg-down" style="font-size: 15px;"></i>&nbsp;&nbsp;Jak je to s těmi klíšťáky?
        </div>
    </div>
    <div class="collapse" id="collapseKlistaky">
        <div class="card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user activates the relevant trigger.
        </div>
    </div>
    
    <hr>
    

    <div class="row my-5"></div>
{% endblock %}

{% block script_end_page %}
    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="{% static 'holubi_app/js/map_for_app.js' %}"></script>
{% endblock %}
